header.header
    .container
        .header__inner
            a.header__logo(href="/", aria-label="Main logo company") 
                span.header__logo-name RosLogistic
                span.header__logo-notes Логистическая  компания
            .header__contacts 
                .header__contacts-item 
                    a.header__contacts-link(href="tel:+711111111") 8 000 333 23 55
                    span.header__contacts-text Федеральный
                .header__contacts-item 
                    a.header__contacts-link(href="tel:+711111111") 8 000 883 25 15
                    span.header__contacts-text Санкт-Петербург 
            a.header__link(href="#cost") Рассчитать стоимость
                svg.header__icon(width= "16", height="12")
                    use(xlink:href="../icons/sprite/sprite.svg#decor--arrow")
            button.header__burger(type="button", aria-label="Button for burger meu") 
                span.header__burger-line
                span.header__burger-line
                span.header__burger-line