form.form(action="#") 
	h3.form__title Контактные данные:
	.form__wrapper 
		label.form__label(for="input-name")
			| Контактное лицо*
			input.form__input(type="text" name="user-name" id="input-name" placeholder="ФИО" ,required)
		label.form__label(for="input-company")
			| Наименование компании*
			input.form__input(type="text" name="user-company" id="input-company" placeholder="Наименование компании",required)
		label.form__label(for="input-tel")
			| Телефон* 
			input.form__input(type="tel" name="user-phone" id="input-tel" placeholder="Телефон", required)
		label.form__label(for="input-email")
			| E-mail*
			input.form__input(type="email" name="user-email" id="input-email" placeholder="E-mail", required)
	h3.form__title Информация о грузе:
	.form__container 
		.form__top
			label.form__label(for="input-cargo-name")
				| Наименование груза*
				input.form__input(type="text" name="user-company" id="input-cargo-name" placeholder="Наименование груза",required)
			label.form__label(for="input-code")
				| Код ТНВЭД 
				input.form__input(type="text" name="user-company" id="input-code" placeholder="Код ТНВЭД")
		.form__mid
			label.form__label(for="input-brutto")
				| Вес брутто
				input.form__input(type="tel" name="user-phone" id="input-brutto" placeholder="Вес брутто")
			label.form__label(for="input-netto")
				| Вес нетто*
				input.form__input(type="tel" name="user-phone" id="input-netto" placeholder="Вес нетто", required)
			label.form__label(for="select-conditions") 
				| Условия  INCOTERMS
				select.form__select(name="incoterms" id="select-conditions") 
					option.form__option(value="exw") EXW
					option.form__option(value="eas") EAS
					option.form__option(value="w+") W+
					option.form__option(value="standart") Standart
				svg.form__select-icon(width= "16" height="12")
					use(xlink:href="./icons/sprite/sprite.svg#decor--arrow")
		.form__bot 
			label.form__label(for="country-output") 
				| Страна отправления*
				select.form__select(name="country-sender" id="country-output") 
					option.form__option(value="ru") Россия
					option.form__option(value="kz") Киргизия
					option.form__option(value="eng") Англия
					option.form__option(value="brz") Бразилия
				svg.form__select-icon(width= "16" height="12")
					use(xlink:href="./icons/sprite/sprite.svg#decor--arrow")

			label.form__label(for="country-input") 
				| Страна происхождения*
				select.form__select(name="country-reciever" id="country-input") 
					option.form__option(value="ru") Россия
					option.form__option(value="kz") Киргизия
					option.form__option(value="eng") Англия
					option.form__option(value="brz") Бразилия
				svg.form__select-icon(width= "16" height="12")
					use(xlink:href="./icons/sprite/sprite.svg#decor--arrow")
		label.form__label.form__label--address(for="input-address")
			| Адрес доставки*
			input.form__input.form__input--address(type="text" name="address-delivery" id="input-address" placeholder="Адрес доставки", required)
	span.form__notes 
		| *Обязательное поле ввода
	button.form__btn(type="submit") Отправить
	.form__policy
		input.form__checkbox(type="checkbox" name="policy", required, aria-label="Policy checkbox")
		span.form__policy-text 
			| Я принимаю правила 
			a.form__link(href="#") политики конфиденциальности
			| , и даю согласие на 
			a.form__link(href="#") обработку своих персональных данных 
