.form {
	max-width: 720px;

	&__title {
		@extend %hero-text-style;

		margin-bottom: 24px;
		color: $color-title;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		margin-bottom: $gap-base;
	}

	&__label {
		@extend %input-text-style;
	}

	&__input {
		@extend %input-text-style;

		width: 100%;
		margin-top: 8px;
		padding: 14px 12px;

		border: 1px solid $color-border;
		border-radius: $radius-input;

		&::placeholder {
			color: $color-form;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 22px;
	}

	&__top {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 16px;
	}

	&__mid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}

	&__bot {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}

	&__select-wrap {
		position: relative;
	}

	&__select-icon {
		position: absolute;
		top: 47%;
		right: 3%;
		transform: rotate(90deg);

		stroke: $color-title;
		stroke-width: 2px;
	}

	&__select {
		@extend .form__input;

		appearance: none;
		background-color: transparent;
	}

	&__label--address {
		position: relative;
		&::after {
			content: "";
		}
	}


	&__notes {
		display: block;
		margin-bottom: 22px;
		font-size: 12px;
	}

	&__btn {
		@extend %link-style;

		display: block;
		width: 100%;
		margin-bottom: 16px;
	}

	&__checkbox {
		margin-right: 8px;
		accent-color: $color-accent;
		width: 26px;
		height: 26px;
	}


	&__policy {
		display: flex;
		align-items: center;
	}

	&__policy-text {
		font-size: 12px;
		color: $color-title;
	}

	&__link {
		text-decoration: underline;
	}

}
