.menu {
	position: absolute;
	top: 0px;
	right: -100%;
	left: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	padding: clamp-px(50, 100) 0;
	background-color: $color-light;
	transition: right 0.3s ease-in-out;

	&--active {
		right: 0;
		visibility: visible;
		opacity: 1;
		padding-top: 56px;
		z-index: 7;
	}

	&__list {
		margin-bottom: clamp-px(30, 80);
		display: flex;
		flex-direction: column;
		gap: clamp-px(16, 36);
	}

	&__item {
		@extend %subtitle-style;
		font-size: clamp-px(26, 40);
	}

	&__link {
		border-bottom: 2px solid transparent;
		transition: border-color 0.2s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				border-color: $color-title;
			}
		}
	}

	&__address {
		margin-bottom: clamp-px(16, 36);
		@extend %subtitle-style;
		font-style: normal;
	}

	&__mail-link {
		@extend %subtitle-style;
		display: inline-block;
		margin-bottom: clamp-px(16, 36);
		border-bottom: 2px solid transparent;
		transition: border-color 0.2s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				border-color: $color-title;
			}
		}
	}

	&__social {
		display: flex;
		align-items: center;
		gap: $gap-base;
	}

	&__social-item {
		background-color: $color-title;
		border-radius: 50%;
		transition: background-color 0.3s linear;

		@media (any-hover: hover) {
			&:hover {
				background-color: $color-accent;
			}
		}
	}

	&__social-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: clamp-px(50, 60);
		height: clamp-px(50, 60);
	}

	&__icon {
		fill: $color-light;
	}
}
