.menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	height: 100vh;
	padding: clamp-px(50, 100) 0;

	visibility: hidden;
	opacity: 0;
	background-color: $color-light;

	transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

	@supports (height: 100dvh) {
		height: 100dvh;
	}

	&--active {
		z-index: 7;
		right: 0;

		padding-top: 120px;

		visibility: visible;
		opacity: 1;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: clamp-px(16, 36);
		margin-bottom: clamp-px(30, 80);
	}

	&__item {
		@extend %subtitle-style;

		font-size: clamp-px(26, 40);
	}

	&__link {
		border-bottom: 2px solid transparent;
		transition: border-color 0.2s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				border-color: $color-title;
			}
		}
	}

	&__address {
		@extend %subtitle-style;

		margin-bottom: clamp-px(16, 36);
		font-style: normal;

		@supports(text-wrap: balance) {
			text-wrap: balance;
		}
	}

	&__mail-link {
		@extend %subtitle-style;

		display: inline-block;
		margin-bottom: clamp-px(16, 36);
		border-bottom: 2px solid transparent;
		transition: border-color 0.2s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				border-color: $color-title;
			}
		}
	}

	&__social {
		display: flex;
		gap: $gap-base;
		align-items: center;
		padding-bottom: 26px;
	}

	&__social-item {
		background-color: $color-title;
		border-radius: 50%;
		transition: background-color 0.3s linear;

		@media (any-hover: hover) {
			&:hover {
				background-color: $color-accent;
			}
		}
	}

	&__social-link {
		display: flex;
		align-items: center;
		justify-content: center;

		width: clamp-px(50, 60);
		height: clamp-px(50, 60);
	}

	&__icon {
		fill: $color-light;
	}
}
