@media (max-width: 1024px) {
	.products {
		&__content {
			flex-direction: column;
			width: 100%;
		}

		&__list {
		}

		&__picture {
			width: 100%;
		}

		&__img {
			width: 100%;
			height: 330px;
			object-position: 0 35%;
		}
	}
}

@media (max-width: 550px) {
	.products {
        &__list {
            grid-template-columns: 1fr;
        }


        
		&__picture {
			display: none;
		}
	}
}
