.products {
	padding: clamp-px(30, 50) 0;

	&__title {
		@extend %title-style;
		margin-bottom: clamp-px(30, 80);
	}

	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: $gap-base;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: $gap-base;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: clamp-px(15, 30);
	}

	&__box {
		width: 72px;
		height: 72px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		border-radius: 50%;
		background-color: $color-accent;
	}

	&__picture {
	}

	&__img {
		width: 492px;
		height: 666px;
		object-fit: cover;
	}
}
