section.cost#cost
    .container
        h2.cost__title Рассчитать стоимость
        .cost__inner 
            include ../form/_form
            .cost__picture 
                +img-simple("cost/cargo", "cost__img", 694, 824, "Large cargo", "lazy")