%header-link-style {
	padding: 15px 30px;

	font-size: 16px;
	color: $color-title;

	background-color: $color-light;
	border-radius: $radius-base;

	stroke: $color-title;

	transition-timing-function: ease-out;
	transition-duration: 0.3s;
	transition-property: color, background-color, stroke;

	@media (any-hover: hover) {
		&:hover {
			color: $color-light;
			background-color: $color-title;
			stroke: $color-light;
		}
	}
}

%link-style {
	cursor: pointer;

	padding: clamp-px(12, 15) clamp-px(25, 30);

	font-size: 16px;
	color: $color-light;

	background-color: $color-title;
	border-radius: $radius-base;

	transition-timing-function: ease-out;
	transition-duration: 0.3s;
	transition-property: color, background-color;

	@media (any-hover: hover) {
		&:hover {
			color: $color-title;
			background-color: $color-light;
			outline: 2px solid $color-accent;
			outline-offset: -1px;
		}
	}
}

%footer-link-style {
	font-size: clamp-px(16, 20);
	color: $color-light;
	letter-spacing: $letter-spacing-base;
	transition: color 0.2s linear;

	@media (any-hover: hover) {
		&:hover {
			color: $color-border;
		}
	}
}
