//* h1 hero section
%hero-title-style {
	color: $color-light;
	font-size: clamp-px(32, 64);
	font-weight: 700;
	line-height: $line-height-title;
	letter-spacing: 0.02em;
}

//* h2 all section
%title-large-style {
	color: $color-title;
	font-size: clamp-px(32, 64);
	font-weight: 700;
	line-height: $line-height-title;
	letter-spacing: $letter-spacing-base;

	position: relative;
	&::after {
		content: "";
		display: block;
		margin-top: clamp-px(10, 30);
		width: clamp-px(50, 115);
		height: clamp-px(5, 10);
		background-color: $color-accent;
	}
}

%title-style {
	@extend %title-large-style;
	font-size: clamp-px(28, 56);
}

//* h3 subtitle
%subtitle-style {
	color: $color-title;
	font-size: clamp-px(20, 28);
	font-weight: 700;
	line-height: $line-height-subtitle;
	letter-spacing: $letter-spacing-base;
}
