section.trust
    .container
        h2.trust__title Нам доверяют
        .trust__wrapper
            .swiper-button-prev
            .trust__slider.swiper 
                ul.swiper-wrapper.trust__list 
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo-1", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo-2", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo-3", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo-4", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo-1", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo-2", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo-3", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
                    li.swiper-slide.trust__item 
                        +img-simple("slider/logo-4", "slider__logo", 174, 182, "Logo sponsor company", "lazy", "svg", "./icons/")
            .swiper-button-next
    .swiper-pagination