-
    var data = {
        "airplain": "какой способ доставки груза выбрать, чтобы перевозка не вышла слишком дорогой или слишком долгой;",
        "document": "как правильно заполнить документы или какие нужны сертификаты на вашу продукцию;",
        "risk": "как с минимальными рисками доставить ценный груз;",
        "cargo": "как отслеживать статус груза;"
    }

section.logistic#logistic
    .container
        h2.logistic__title Полностью берем <br> вопрос логистики на себя
        .logistic__inner 
            .logistic__content 
                h3.logistic__subtitle 
                    | Вам больше не придется ломать голову над всем, что связано с ввозом и вывозом грузов.
                p.logistic__descr
                    | Мы знаем ответы на все вопросы, например:
                ul.logistic__list 
                    each value, key in data 
                        li.logistic__item 
                            .logistic__box
                                svg.logistic__icon(width="40", height="40")
                                    use(xlink:href=`./icons/sprite/sprite.svg#logistic--${key}`)
                            .logistic__text= value
                p.logistic__descr 
                    | Мы поможем вам освободить время на масштабирование бизнеса и привлечение клиентов.
                .logistic__wrap 
                    span.logistic__notes 
                        | Привезем тестовую партию товара из любого уголка мира
                    a.logistic__link(href="#cost") 
                        | Рассчитать стоимость
            .logistic__picture
                +img-simple("logistic/ship", "logistic__img", 694, 824, "Ship cargo", "lazy")