@media (max-width: 1310px) {
	.solutions {
		&__container-outer {
			&::after {
				transform-origin: center center;
				transform: rotate(270deg) translateX(-50%);
				right: -15%;
				bottom: 50%;
			}
		}
		&__content {
			flex-direction: column;
		}
	}
}

@media (max-width: 715px) {
	.solutions {
		&__container-outer {
			&::after {
				transform: unset;
				right: 0;
				bottom: 0;
			}
		}
	}
}


@media (max-width: 450px){
    .solutions {
        &__item {
            gap: 8px;
        }

        &__value {
            font-size: 15px; 	
        }
    }
    
}