-
    var data = [
        "Международная логистика", "Экспедирование", "Таможенное оформление", "Сертификация", "Организация доставки груза"
    ]


section.solutions.solutions__container-outer#solutions
    .container 
        h2.solutions__title 
            | RosLogistic — <br> бесконечные возможности
        .solutions__content 
            .solutions__descr 
                h3.solutions__subtitle 
                    | Мы предлагаем комплексные логистические решения всеми видами транспорта и оптимизируем цепи поставок для импорта и экспорта грузов.
                p.solutions__text 
                    | Предоставляем грузоперевозки и&nbsp;таможенное оформление по&nbsp;всей России. Благодаря тому, что у&nbsp;нас заключены договоры с&nbsp;судоходными морскими линиями, мы&nbsp;осуществляем внутрипортовое экспедирование на&nbsp;терминалах всех морских портов, в&nbsp;том числе Санкт-Петербурга, Новороссийска, Владивостока.
                p.solutions__text 
                    |  Мы&nbsp;обеспечиваем таможенное оформление грузов, перевозимых автотранспортом, в&nbsp;любом таможенном пункте Российской Федерации, независимо от&nbsp;региона доставки.
                p.solutions__text 
                    | Это значит, что мы&nbsp;контролируем весь процесс перевозки груза от&nbsp;момента подписания контракта до&nbsp;порожнего контейнера.
            ul.solutions__list 
                each value, index in data
                    li.solutions__item 
                        .solutions__box 
                            svg.solutions__icon(width="40" height="40") 
                                use(xlink:href=`./icons/sprite/sprite.svg#solutions--icon-${index + 1}`)
                        span.solutions__value= value

