.solutions {
	padding: clamp-px(30, 50) 0;
	overflow: hidden;

	&__container-outer {
		max-width: 1920px;
		margin: 0 auto;
		position: relative;
		&::after {
			content: "";
			width: clamp-px(420, 870);
			height: clamp-px(200, 410);
			background: url(../icons/sprite/sprite.svg#decor--infinity);
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translateX(0%);
			z-index: -1;
		}
	}

	&__title {
		max-width: 1000px;
		margin-bottom: clamp-px(35, 80);
		@extend %title-style;
	}

	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: clamp-px(30, 60);
	}

	&__descr {
		max-width: 820px;
	}

	&__subtitle {
		margin-bottom: $gap-base;
		@extend %subtitle-style;
	}

	&__text {
		@extend %text-style;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: $gap-base;
		flex-shrink: 0;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: $gap-base;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: clamp-px(65, 72);
		height: clamp-px(65, 72);
		border-radius: 50%;
		background-color: $color-accent;
	}

	&__icon {
		width: clamp-px(30, 40);
		height: clamp-px(30, 40);
	}

	&__value {
		@extend %subtitle-style;
	}
}
