%header-link-style {
	color: $color-title;
	font-size: 16px;
	padding: 15px 30px;
	background-color: $color-light;
	border-radius: $radius-base;
	stroke: $color-title;

	transition-property: color, background-color, stroke;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;

	@media (any-hover: hover) {
		&:hover {
			background-color: $color-title;
			color: $color-light;
			stroke: $color-light;
		}
	}
}

%link-style {
	padding: clamp-px(12, 15) clamp-px(25, 30);
	font-size: 16px;
	color: $color-light;
	background-color: $color-title;
	border-radius: $radius-base;
	cursor: pointer;
	transition-property: color, background-color, outline;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;

	@media (any-hover: hover) {
		&:hover {
			background-color: $color-light;
			color: $color-title;
			outline: 2px solid $color-accent;
			outline-offset: -1px;
		}
	}
}

%footer-link-style {
	font-size: clamp-px(16, 20);
	color: $color-light;
	letter-spacing: $letter-spacing-base;
	transition: color 0.2s linear;
	@media (any-hover: hover) {
		&:hover {
			color: $color-border;
		}
	}
}
