//* hero section text
%hero-text-style {
	color: $color-light;
	font-size: clamp-px(18, 20);
	font-weight: 700;
	letter-spacing: 0.02em;
}

//* p text
%text-style {
	color: $color-text;
	font-size: clamp-px(16, 20);
	font-weight: 400;
	line-height: $line-height-text;
	letter-spacing: $letter-spacing-base;
}

//* input form
%input-text-style {
	color: $color-title;
	font-size: clamp-px(16, 18);
	font-weight: 400;
	letter-spacing: $letter-spacing-base;
}
