extends ../template/_default

block hero-content
    include ../components/header/_header
    include ../components/menu/_menu
block main-content
    include ../components/hero/_hero
    include ../components/solutions/_solutions
    include ../components/logistic/_logistic
    include ../components/services/_services
    include ../components/cost/_cost
    include ../components/products/_products
    include ../components/faq/_faq
    include ../components/trust/_trust
    include ../components/business/_business
    include ../components/map/_map
block footer-content
    include ../components/footer/_footer
    