.cost {
	padding: 60px 0;

	&__title {
		@extend %title-style;
		margin-bottom: clamp-px(30, 80);
	}

	&__picture {
		height: 806px;
	}

	&__img {
		height: 100%;
		object-fit: cover;
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: $gap-large;
	}
}
