script(src="https://api-maps.yandex.ru/2.1/?apikey=a81b7603-923b-4480-aa31-1f85d0d16cc5&lang=ru_RU")
script(type="module", async, src="./js/vendor.min.js")
script(type="module", async, src="./js/main.min.js")