section.business
    .container 
        h2.business__title 
            | Вы занимаетесь бизнесом — мы занимаемся вашим грузом
        .business__inner 
            .business__item 
                .business__icon-box 
                    svg.business__icon(width="80" height="80") 
                        use(xlink:href="./icons/sprite/sprite.svg#business--box")
                .business__text 
                    | Поможем привезти тестовую партию товара из любого уголка мира 
            .business__item 
                .business__icon-box 
                    svg.business__icon(width="80" height="80") 
                        use(xlink:href="./icons/sprite/sprite.svg#business--ship")
                .business__text 
                    | Импортируем груз из-за границы по всем правилам и с минимальными рисками 
            .business__item 
                .business__icon-box 
                    svg.business__icon(width="80" height="80") 
                        use(xlink:href="./icons/sprite/sprite.svg#business--world")
                .business__text 
                    | Организуем экспорт вашей продукции и товаров по всему миру 