.business {
	padding: clamp-px(30, 50) 0;

	&__title {
		max-width: 1050px;
		margin-bottom: clamp-px(35, 80);
		@extend %title-large-style;
	}

	&__inner {
		display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: $gap-medium;
        column-gap: $gap-large;
	}

	&__item {
        flex-basis: 450px;
		display: flex;
        align-items: center;
        gap: $gap-base;
	}

	&__icon-box {
        padding-right: $gap-base;
		border-right: 1px solid $color-border;
	}

    &__text {
        @extend %text-style;
    }
}
