footer.footer 
    .container 
        .footer__inner 
            .footer__services-list  
                ul.footer__list 
                    li.footer__item 
                        a.footer__services-link(href="#") 
                            | Таможенное оформление
                    li.footer__item 
                        a.footer__services-link(href="#") 
                            |  Сертификация
                    li.footer__item 
                        a.footer__services-link(href="#") 
                            | Морской фрахт
                    li.footer__item 
                        a.footer__services-link(href="#") 
                            | Оформление документов
                    li.footer__item 
                        a.footer__services-link(href="#") 
                            | Сюрвейерские услуги
                    li.footer__item 
                        a.footer__services-link(href="#") 
                            | Аутсорсинг ВЭД
                    li.footer__item 
                        a.footer__services-link(href="#") 
                            | Складские услуги
                    li.footer__item 
                        a.footer__services-link(href="#") 
                            | Другие услуги
            .footer__block 
                h3.footer__title Транспортная логистика
                ul.footer__list 
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Мультимодальные перевозки
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Морские, речные перевозки
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Авиаперевозки
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Автомобильные перевозки
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Перевозка негабаритных грузов
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Перевозка опасных грузов
            .footer__block 
                h3.footer__title О компании 
                ul.footer__list 
                    li.footer__item 
                        a.footer__link(href="#") 
                            | О нас
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Документы
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Реквизиты
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Вакансии
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Контакты
                    li.footer__item 
                        a.footer__link(href="#") 
                            | Оценка нашей работы
        .footer__info 
            .footer__policy 
                a.footer__policy-link(href="#")
                    | Политика конфиденциальности
                a.footer__policy-link(href="#") 
                    | Политика обработки персональных данных
            ul.footer__social
                li.footer__social-item
                    a.footer__social-link(href="#", aria-label="Telegram link") 
                        +svg("social--telegram", "footer__icon", 28, 28)
                li.footer__social-item
                    a.footer__social-link(href="#", aria-label="Whatsapp link") 
                        +svg("social--whatsapp", "footer__icon", 28, 28)
                li.footer__social-item
                    a.footer__social-link(href="#", aria-label="Vk link") 
                        +svg("social--vk", "footer__icon", 28, 28)
                li.footer__social-item
                    a.footer__social-link(href="#", aria-label="Instagram link") 
                        +svg("social--instagram", "footer__icon", 28, 28)

        span.footer__copyright 
            | © 2023, RosLogistic