.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: clamp-px(20, 32);
	z-index: 5;

	&__inner {
		display: flex;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: $gap-small;
		margin-right: auto;
	}

	&__logo--hidden {
		visibility: hidden;
	}

	&__logo-name {
		color: $color-light;
		font-size: clamp-px(26, 38);
		font-weight: 700;
		letter-spacing: $letter-spacing-base;
		text-transform: uppercase;
	}

	&__logo-notes {
		width: 120px;
		color: $color-light;
		font-size: 14px;
		letter-spacing: 0.06em;
		line-height: $line-height-title;
	}

	&__contacts {
		margin-right: clamp-px(40, 80);
		display: flex;
		gap: clamp-px(30, 64);
	}

	&__contacts-link {
		display: block;
		margin-bottom: 4px;
		color: $color-light;
		font-size: clamp-px(18, 28);
		font-weight: 700;
		letter-spacing: $letter-spacing-base;
		transition: color 0.2s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				color: darken($color-light, 25%);
			}
		}
	}

	&__contacts-text {
		display: block;
		color: $color-light;
		font-size: clamp-px(14, 16);
		letter-spacing: $letter-spacing-base;
	}

	&__link {
		@extend %header-link-style;
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__burger {
		display: none;
		flex-direction: column;
		gap: 8px;
		align-items: center;
		justify-content: center;
		margin-left: $gap-base;
		background-color: transparent;
		cursor: pointer;
		transition: all 0.1s linear;
	}

	&__burger--active {
		position: relative;
		z-index: 22;
		gap: 12px;
		transition: all 0.1s linear;

		.header__burger-line:nth-child(1) {
			transform-origin: top right;
			transform: rotate(-45deg);
		}
		.header__burger-line:nth-child(2) {
			opacity: 0;
		}
		.header__burger-line:nth-child(3) {
			transform-origin: bottom right;
			transform: rotate(45deg);
		}

		.header__burger-line {
			background-color: $color-title;
		}
	}

	&__burger-line {
		display: block;
		width: 44px;
		height: 3px;
		background-color: $color-light;
		border-radius: 5px;
		position: relative;
	}
}
