.hero {
	@include bg-img("hero/hero-img");
	@include overlay(0.2);

	z-index: 0;
	overflow: hidden;
	padding-top: clamp-px(200, 315);
	padding-bottom: clamp-px(30, 60);

	&__content {
		position: relative;
		z-index: 5;
	}

	&__title {
		@extend %hero-title-style;

		max-width: 700px;
		margin-bottom: clamp-px(30, 56);

		@supports(text-wrap: balance) {
			text-wrap: balance;
		}
	}

	&__link {
		@extend %header-link-style;

		display: inline-flex;
		gap: $gap-small;
		align-items: center;
		margin-bottom: clamp-px(80, 180);
	}

	&__info {
		@extend %hero-text-style;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
