section.services#services
    .container
        h2.services__title Услуги
        .services__content-top
            .services__item
                h3.services__name Транспортная логистика
                ul.services__list
                    li.services__list-item 
                        | Мультимодальные перевозки
                    li.services__list-item 
                        | Морские перевозки
                    li.services__list-item 
                        | Авиаперевозки
                    li.services__list-item 
                        | Железнодорожные перевозки
                    li.services__list-item 
                        | Автомобильные перевозки
                    li.services__list-item 
                        | Перевозки негабаритных грузов
                    li.services__list-item 
                        | Перевозка опасных грузов 
                    li.services__list-item 
                        | Перевозка сборных грузов
                    li.services__list-item 
                        | Адресная доставка
            .services__item
                h3.services__name Таможенное оформление
            .services__item
                h3.services__name Сертификация
        .services__content-bottom
            .services__item-bottom
                h3.services__name Адресная доставка
            .services__item-bottom
                h3.services__name Аутсорсинг ВЭД
            .services__item-bottom
                h3.services__name Другие услуги
                ul.services__list
                    li.services__list-item 
                        | Складские услуги
                    li.services__list-item 
                        | Фумигация грузов
                