.services {
	padding: 60px 0;

	&__title {
		@extend %title-style;

		margin-bottom: clamp-px(30, 80);
	}

	&__content-top {
		display: grid;
		grid-auto-flow: dense;
		grid-template-columns: 1.8fr 1fr 1fr;
		gap: 30px;

		margin-bottom: 30px;

		@media (any-hover: hover) {
			& a.services__item:hover {
				background-color: $color-title;
				.services__name {
					color: $color-light;
				}

				.services__icon {
					stroke: $color-light;
				}
			}
		}
	}

	&__content-bottom {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;

		@media (any-hover: hover) {
			& a.services__item-bottom:hover {
				background-color: $color-title;
				.services__name {
					color: $color-light;
				}

				.services__icon {
					stroke: $color-light;
				}
			}
		}
	}

	&__item {
		position: relative;

		overflow: hidden;

		padding: 32px;

		background-color: $color-accent;

		transition: background-color 0.2s ease-in-out, color 0.2s ease-in;

		&:nth-child(1) {
			background: url(../img/services/logistic.webp), $color-accent;
			background-repeat: no-repeat;
			background-position: right center, right bottom;
			background-size: 372px 593px, 200px 200px;
		}

		&:nth-child(2) {
			background: url(../img/services/police.webp), $color-accent;
			background-repeat: no-repeat;
			background-position: 85% 90%;
			background-size: 150px;
		}

		&:nth-child(3) {
			background: url(../img/services/documents.webp), $color-accent;
			background-repeat: no-repeat;
			background-position: 75% 90%;
			background-size: 150px;
		}
	}

	&__item-bottom {
		position: relative;
		z-index: 150;

		overflow: hidden;

		padding: 32px 48px;
		padding-bottom: 100px;

		background-color: $color-accent;

		transition: background-color 0.2s ease-in-out, color 0.2s ease-in;

		&:nth-child(1) {
			background: url(../img/services/earth-cargo.webp), $color-accent;
			background-repeat: no-repeat;
			background-position: 90% 90%;
			background-size: 170px;
		}

		&:nth-child(2) {
			background: url(../img/services/earth.webp), $color-accent;
			background-repeat: no-repeat;
			background-position: 90% 90%;
			background-size: 170px;
		}

		&:nth-child(3) {
			background: url(../img/services/other.webp), $color-accent;
			background-repeat: no-repeat;
			background-position: 98% 105%;
			background-size: 210px;
		}
	}

	&__name {
		@extend %subtitle-style;

		display: inline-block;
		margin-bottom: clamp-px(16, 32);
		padding-bottom: clamp-px(16, 32);
		border-bottom: 1px solid $color-light;
	}

	&__list {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__list-item {
		@extend %text-style;

		list-style-position: inside;
		list-style-type: square;
	}

	&__icon {
		display: none;
		width: 30px;
		height: 15px;
		stroke: $color-title;
	}
}
