@media (max-width: 1450px) {
	.services {
		&__content-top {
			grid-template-columns: 1fr;
		}

		&__item {
			&:nth-child(2) {
				background-position: 95% 80%, right bottom;
				background-size: 170px 210px;
			}

			&:nth-child(3) {
				background-position: 95% 80%, right bottom;
				background-size: 165px 200px;
			}
		}

		&__content-bottom {
			grid-template-columns: 1fr;
		}

		&__item-bottom {
			padding-bottom: 32px;

			&:nth-child(1) {
				background-position: 95% 80%, right bottom;
				background-size: 210px 200px;
			}

			&:nth-child(2) {
				background-position: 95% 80%, right bottom;
				background-size: 205px 190px;
			}
		}
	}
}

@media (max-width: 590px) {
	.services {

		&__content-top {
			margin-bottom: 18px;
		}

		&__content-top,
		&__content-bottom {
			gap: 18px;
		}

		&__item {
			padding: 22px 28px;
			&:nth-child(1) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: 200px 200px;
			}

			&:nth-child(2) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: 110px 110px;
			}

			&:nth-child(3) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: 110px 110px;
			}

			&:not(:first-child) {
				height: unset;
			}
		}

		&__item-bottom {
			padding: 22px 28px;

			&:last-child {
				height: 210px;
			}

			&:nth-child(1) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: 110px 110px;
			}

			&:nth-child(2) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: 110px 110px;
			}

			&:nth-child(3) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-position: right bottom;
				background-size: 110px 110px;
			}
		}
	}
}

@media (max-width: 376px) {
	.services {
		&__item:nth-child(2) {
			.services__name {
				position: relative;
				border: none;
				&::after {
					content: "";

					position: absolute;
					bottom: -10%;
					left: 0;

					width: 80%;
					height: 1px;

					background-color: $color-light;
				}
			}
		}
	}
}
