-
    var data = {
        "Что такое соотношение веса к объему?":
        "Соотношение веса к объему, также известное как плотность, является физической величиной, определяющейся как масса материала, содержащегося в единице объема. Эта величина может быть полезна в различных областях, таких как строительство, транспортировка и химия. Например, при перевозке грузов на самолетах или кораблях, ограничения веса могут быть компенсированы выбором материалов с более низкой плотностью, такими как пенопласт или полиэтиленовые пузырчатые пленки. В химии, плотность может быть использована для определения концентрации растворов.",

        "Какой минимальный вес посылки?": 
        "Любой. Абсолютно любой. От 0 грамма. Можем доставить даже воздух из КНР. Мы занимаемся быстрыми перевозками и все наши клиенты сосредоточены на скорости доставки, поэтому в день Мы получаем большое количество посылок, что позволяет нам не ждать консолидации и сбора какого-то определенного веса. Есть 1 кг, значит Мы отправляем 1 кг, есть 150 кг, значит Мы отправляем 150 кг. Мы именно подстраиваемся под вылет рейса и ни в коем случае под вес. Все отправления на вылет идут ежедневно в 17:00 по Китайскому времени.",

        "Почему образцы/посылки запрещенные к авиаперевозке отправляются авто доставкой, но при этом оплата как за авиа?":
        "Обычно запрещенные к авиаперевозке грузы отправляются другими видами транспорта, такими как автомобильная или морская доставка. Однако, в некоторых случаях, компании могут предлагать клиентам отправку запрещенных грузов автомобильной доставкой, но при этом взимать плату за авиаперевозку. Это может быть связано с тем, что автомобильная доставка может быть более дорогой, чем авиаперевозка для некоторых маршрутов, и компании могут использовать ту же ценовую политику для разных видов транспорта.",

        "Осуществляется ли перевозка из Москвы в Китай?": 
        "Да, перевозка из Москвы в Китай возможна различными видами транспорта, включая авиаперевозки, железнодорожные перевозки и автомобильную доставку.",

        "Как разговаривать с поставщиками, представителями компаний? В Китае все обозначения улиц иероглифами. Как сообщить адрес фабрики, завода, склада на китайском языке?":
        "Для общения с китайскими поставщиками и представителями компаний необходимо использовать китайский язык или английский язык. Для сообщения адреса фабрики, завода или склада на китайском языке, можно использовать китайские иероглифы, либо написать адрес латинскими буквами с использованием пиньиня - системы транслитерации китайских звуков на латиницу.",
    }

section.faq#faq
    .container
        h2.faq__title Вопрос-ответ
        .accordion
            each answer, question in data
                article.accordion__item
                    .accordion__header
                        h3.accordion__title= question 
                        button.accordion__btn(aria-label="Click to show more info")
                    .accordion__body
                        .accordion__content
                            p.accordion__text= answer 