@media (max-width: 1450px) {
	.services {
		&__content-top {
			grid-template-columns: 1fr;
		}

		&__item {
			&:nth-child(2) {
				background-size: 170px 210px;
				background-position: 95% 80%, right bottom;
			}

			&:nth-child(3) {
				background-size: 165px 200px;
				background-position: 95% 80%, right bottom;
			}

			&:not(:first-child) {
				height: 250px;
			}
		}

		&__content-bottom {
			grid-template-columns: 1fr;
		}

		&__item-bottom {
			&:nth-child(1) {
				background-size: 210px 200px;
				background-position: 95% 80%, right bottom;
			}

			&:nth-child(2) {
				background-size: 205px 190px;
				background-position: 95% 80%, right bottom;
			}
		}

		&__item-bottom {
			height: 250px;
		}
	}
}

@media (max-width: 590px) {
	.services {
		&__item {
			padding-left: 15px;
			padding-right: 15px;
			&:nth-child(1) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-size: 200px 200px;
				background-position: right bottom;
			}

			&:nth-child(2) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-size: 110px 110px;
				background-position: right bottom;
			}

			&:nth-child(3) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-size: 110px 110px;
				background-position: right bottom;
			}

			&:not(:first-child) {
				height: unset;
			}
		}

		&__item-bottom {
			padding-left: 15px;
			padding-right: 15px;
			height: 132px;

			&:last-child {
				height: 210px;
			}

			&:nth-child(1) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-size: 110px 110px;
				background-position: right bottom;
			}

			&:nth-child(2) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-size: 110px 110px;
				background-position: right bottom;
			}

			&:nth-child(3) {
				background: url(../icons/decor/symbol.svg), $color-accent;
				background-repeat: no-repeat;
				background-size: 110px 110px;
				background-position: right bottom;
			}
		}
	}
}

@media (max-width: 376px) {
	.services {
		&__item:nth-child(2) {
			.services__name {
				border: none;
				position: relative;
				&::after {
					content: "";
					width: 80%;
					height: 1px;
					background-color: $color-light;
					position: absolute;
					bottom: -10%;
					left: 0;
				}
			}
		}
	}
}
